.word-form{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 2rem;
}
.word-input{
  width: 80%;
  display: inline-block;
  margin-left: 6px;
  margin-right: 2px;
  font-size: 1.5rem;
}
.center{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.search-button{
    font-size:1rem;
    margin-left: auto;
    margin-top: auto;
    border-radius: 10px;
    color:white ;
    background-color:#1B86E5 ;
}
  .search-button:hover{
    color:#1B86E5 ;
    background-color:white ;
    cursor: pointer;
  }
@media only screen and (max-width: 800px) {
  .word-form{
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 20px;
    font-size: 2rem;
  }
  .word-input{
    width: 80%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .word-form{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 20px;
    font-size: 2rem;
  }
  .word-input{
    width: 80%;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 1.5rem;
  }
}