.nav-container{
  padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #1B86E5;
}
.link{
  padding-left: 2rem;
  color: white;
  text-decoration: none;
}
.learnlo{
  padding-left: 1rem;
  margin: 6px;
  font-size: 1.5rem;
  color: #00008B;
}
  .link:visited { text-decoration: none; color:white; }
  .link:focus { text-decoration: none; color:white; }
  .link:hover, .link:active { text-decoration: none; color:darkblue; }