.nav-container{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size:2.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1B86E5;
}
.link{
  color: white;
  text-decoration: none;
}
.learnlo{
  font-size: 3vh;
  color: #00008B;
}
  .link:visited { text-decoration: none; color:white; }
  .link:focus { text-decoration: none; color:white; }
  .link:hover, .link:active { text-decoration: none; color:darkblue; }