.nav-container{
  display: flex;
  justify-content: space-around;
  background-color: #1B86E5;
}
.link{
  color: white;
  text-decoration: none;
}
  .link:visited { text-decoration: none; color:white; }
  .link:focus { text-decoration: none; color:white; }
  .link:hover, .link:active { text-decoration: none; color:darkblue; }