.quiz-card{
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid  #120A02;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.button-section{
  border-radius: 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}
.button{  
  width: auto;
  padding: 8px;
  color:#F7F7F7;
  border-radius: 4px;
  background-color:  #1B86E5;
}
.question{
  margin-top: 10px;
  font-size: 1.5em;
  border-bottom: 2px solid  #120A02;
}