.words-container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  grid-gap: 5px;
  padding: 10px;
}
.zero-words{
  width: 100%;
  font-size: 3rem;
  text-align: center;
}
.center{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
} 
@media only screen and (max-width: 800px) {
  .words-container{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-gap: 5px;
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .words-container{
    display: grid;
    grid-template-columns:1fr ;
    grid-gap: 5px;
    padding: 10px;
  }
}

